.container {
  background-color: #3c5253;
  height: 85vh;
  display: grid;
  gap: 2vw;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.poster {
  height: inherit;
  justify-self: end;
}
.poster:hover {
  cursor: pointer;
}

.informContainer {
  justify-self: start;
  color: #f6fafa;
  font-family: Ubuntu, sans-serif;
  font-size: 3vh;
}

.favorite {
  align-self: flex-end;
  height: 30px;
  width: 30px;
  border: none;
}
.favorite:hover {
  cursor: pointer;
}

@media all and (min-height: 1000px) {
  .informContainer {
    font-size: 30px;
  }

  .poster {
    height: 1000px;
  }
}

@media all and (max-width: 800px) {
  
}

@media all and (max-width: 500px) {
  
}
