.container {
  background-color: #3c5253;
  display: flex;
  align-items: center;
  gap: 2vh;
}

.poster {
}
.poster:hover {
  cursor: pointer;
}

.informContainer {
  color: #f6fafa;
  font-family: Ubuntu, sans-serif;
  font-size: 2.5vh;
  width: 50%;
  flex-shrink: 1;
}

.favorite {
  align-self: flex-end;
  height: 30px;
  width: 30px;
  border: none;
}
.favorite:hover {
  cursor: pointer;
}

@media all and (min-height: 1000px) {
  .informContainer {
    font-size: 30px;
  }

  .poster {
    height: 1000px;
  }
}

@media all and (max-width: 800px) {
  
}

@media all and (max-width: 500px) {
  
}
