.wrapper {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2vh;
}

.poster {
  grid-column: 1 / 2;
  justify-self: end;
  height: 80vh;
  &:hover {
    cursor: pointer;
  }
}

.informContainer {
  grid-column: 2 / 3;
  color: #f6fafa;
  font-family: Ubuntu, sans-serif;
  font-size: 2.5vh;
}

.favorite {
  align-self: flex-end;
  height: 30px;
  width: 30px;
  border: none;
  &:hover {
    cursor: pointer;
  }
}

.backBtn {
  width: 150px;
  color: #008080;
  background: #ffffff;
  padding: 10px;
  margin: 1vh;
  border: 4px solid #008080;
  border-radius: 6px;
  &:hover {
    color: red;
    border-color: red;
    cursor: pointer;
  }
}

@media all and (min-height: 1000px) {
  .informContainer {
    font-size: 30px;
  }

  .poster {
    height: 1000px;
  }
}

@media all and (max-width: 800px) {
  .container {
    display: block;
    text-align: center;
  }

  .poster {
    height: 40vh;
  }

  .informContainer {
    font-size: 1.8vh;
  }

  .backBtn {
    margin: 0;
  }
}
