.container {
  display: flex;
  margin: 1vh auto;
  justify-content: center;
  height: 30px;
  width: 200px;
  align-items: center;
}

.arrow {
  height: inherit;
  &:hover {
    cursor: pointer;
  }
}

.label {
  text-align: center;
}

.boardContainer {
  display: flex;
  justify-content: center;
}

.currentPage {
  border: 0;
  border-bottom: 3px solid black;
  background: none;
  font-weight: 900;
  background: transparent;
  font-size: 2.5vh;
}

.button {
  font-weight: 900;
  border: 0;
  background: transparent;
  font-size: 2.5vh;
  &:hover {
    cursor: pointer;
  }
}

.dots {
  font-weight: 900;
  font-size: 2.5vh;
  border: 0;
  cursor: default;
  background: transparent;
}

@media all and (min-height: 1000px) {
  .button {
    font-size: 25px;
  }
  .currentPage {
    font-size: 25px;
  }
  .dots {
    font-size: 25px;
  }
}
