.pagination {
  display: flex;
  justify-content: center;
  height: 60px;
}

.label {
  text-align: center;
}

.boardContainer {
  display: flex;
  justify-content: center;
}

.currentPage {
  border: 3px solid red;
}

.button {
  background-color: #bc8f8f;
}
.button:hover {
  cursor: pointer;
}

.dots {
  background-color: #bc8f8f;
}

img {
  height: 100%;
}
img:hover {
  background-color: #ff7f50;
  cursor: pointer;
}

input {
  font-size: 30px;
  text-align: center;
  width: 100px;
}
input::placeholder {
  font-size: 30px;
  text-align: center;
  opacity: 1;
}
