.container {
  display: flex;
  height: 75vh;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.image {
  height: 75vh;
}

@media all and (max-width: 500px) {
  .container {
    height: 60vh;
  }
  .image {
    width: 100vw;
  }
}