.pageBody {
  margin: 1vw 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1vw;
  justify-content: center;
  align-items: first baseline;
  min-height: 76vh;
}

@media all and (max-width: 800px) {
  .pageBody {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (max-width: 500px) {
  .pageBody {
    grid-template-columns: repeat(1, 1fr);
  }
}

