.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #494949;
  color: white;
  font-family: Ubuntu, sans-serif;
  box-shadow: 0px 1px 13px -3px #000000;
  border-radius: 5px;
}

.favorite {
  filter: drop-shadow(5px 5px 5px #222);
  align-self: flex-end;
  height: 30px;
  width: 30px;
  border: none;
}
.favorite:hover {
  cursor: pointer;
}

.text {
  margin: 0px 12px;
}

.poster {
  cursor: pointer;
}
