.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #00ffff;
}

.favorite {
  align-self: flex-end;
  height: 30px;
  width: 30px;
  border: none;
}
.favorite:hover {
  cursor: pointer;
}
