.container {
  display: grid;
  grid-template-columns: 1fr 15fr 5fr 5fr;
  gap: 10px;
  font-family: Ubuntu, sans-serif;

  .logo {
    height: 7vh;
  }

  .menuContainer {
    display: flex;
    justify-content: space-evenly;
    height: 7vh;

    .tabs {
      width: 100%;
      height: inherit;
      cursor: pointer;
      font-size: 2.5vh;
      color: #fff;
      text-transform: uppercase;
      background: #ed3330;
      border: none;
      transition: all 0.4s ease 0s;
      &:hover {
        background: #434343;
        letter-spacing: 1px;
        transition: all 0.4s ease 0s;
      }
    }
  }
}

@media all and (min-height: 1000px) {
  .container {
    height: 70px;
    .menuContainer {
      .tabs {
        font-size: 25px;
      }
    }
  }
}

@media all and (max-width: 800px) {
  .container {
    grid-template-columns: repeat(20, 1fr);
    .logo {
      grid-column: 1 / 2;
      margin: auto;
      height: 7vh;
    }
    .menuContainer {
      grid-column: 2 / 21;
    }
  }
}