.container {
  display: grid;
  grid-template-columns: 1fr 15fr 5fr 5fr;
  gap: 10px;
  height: 7vh;
  font-family: Ubuntu, sans-serif;

  .logo {
    height: inherit;
  }

  .menuContainer {
    display: flex;
    justify-content: space-evenly;
    height: inherit;

    .tabs {
      width: 100%;
      height: inherit;
      cursor: pointer;
      font-size: 2.5vh;
      color: #fff;
      text-transform: uppercase;
      background: #ed3330;
      border: none;
      transition: all 0.4s ease 0s;
      &:hover {
        background: #434343;
        letter-spacing: 1px;
        transition: all 0.4s ease 0s;
      }
    }
  }
}

@media all and (min-height: 1000px) {
  .container {
    height: 70px;
    .menuContainer {
      .tabs {
        font-size: 25px;
      }
    }
  }
}
