.background {
  background-color: #7fffd4;
}

.display {
  display: grid;
  grid-template-columns: 1fr 15fr 5fr 5fr;
  gap: 10px;
  height: 100px;
}

.logoContainer {
  height: inherit;
}

.logo {
  height: 100%;
}

.menuContainer {
	background-color: #ffff00;
	display: flex;
	justify-content: space-evenly;
}

.tabs {
	width: 100%;
	height: 100%;
}
