.inputContainer {
  position: relative;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.label {
  grid-column: 5 / 9;
  color: #fffacd;
  text-transform: uppercase;
  font-size: 2.5vh;
}

.filterInput {
  grid-column: 1 / 4;
  text-align: center;
  width: 100%;
  font-size: 2vh;
  border: 0;
  padding: 0;
}
.filterInput::placeholder {
  text-align: center;
  opacity: 1;
}

.select {
  grid-column: 1 / 4;
  width: 100%;
  font-size: 2vh;
  text-align: center;
  border: 0;
  padding: 0;
}

.show {
  position: absolute;
  background-color: #fffacd;
}

.hide {
  position: absolute;
  background-color: #fffacd;
  display: none;
}
