.applyReset {
  display: flex;
  justify-content: space-between;
}

.inputContainer {
  position: relative;
}

.show {
  position: absolute;
  background-color: #fffacd;
}

.hide {
  position: absolute;
  background-color: #fffacd;
  display: none;
}
