html body {
	padding: 0;
	margin: 0;
	border: 0;
}
.wrapper {
	min-height: 100vh;
	margin-bottom: -50px;
	background-color: #ffffff;
}

.details {
	background-color: #47346d;
}

.buffer {
height: 50px;
}
