html body {
	padding: 0;
	margin: 0;
	border: 0;
}
.wrapper {
	min-height: 100vh;
	// margin-bottom: -50px;
	display: flex;
	flex-wrap: wrap;
	align-content: start;
}

.bufferOn {
height: 50px;
margin-top:50px;
}

.bufferOff {
	display: none;
}
