.container {
  height: inherit;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  font-size: 2.5vh;
}

.mainButton {
  width: 100%;
  height: inherit;
  cursor: pointer;
  font-size: 2.5vh;
  color: #494949;
  text-transform: uppercase;
  background: #ffffff;
  border: solid #494949;
  border-width: 4px 0px;
  transition: all 0.4s ease 0s;
  &:hover {
    color: #ffffff;
    background: #008080;
    border-color: #008080;
    transition: all 0.4s ease 0s;
  }
}

.actionBtnContainer {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  height: 4vh;
}

.apply {
  grid-column: 1 / 2;
}

.reset {
  grid-column: 8 / 8;
}

.actionBtn {
  margin-top: 1vh;
  text-transform: uppercase;
  width: 100%;
  border: none;
  background: #ffffff;
  height: inherit;
  cursor: pointer;
  color: #000000;
  border-radius: 6px;
  &:hover {
    background: #78ec6d;
  }
}

.hide-true {
  display: none;
}

.hide-false {
  display: block;
  position: absolute;
  background-color: #008080;
  height: 400px;
  width: 150%;
  top: 7vh;
  padding: 20px;
}
