.container {
  height: 7vh;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  font-size: 2.5vh;
}

.settingsBtn {
  width: 100%;
  height: inherit;
  cursor: pointer;
  font-size: 2.5vh;
  color: #494949;
  text-transform: uppercase;
  background: #ffffff;
  border: solid #494949;
  border-width: 4px 0px;
  transition: all 0.4s ease 0s;
  &:hover {
    color: #ffffff;
    background: #008080;
    border-color: #008080;
    transition: all 0.4s ease 0s;
  }
}

.activeButton {
  width: 100%;
  height: inherit;
  cursor: pointer;
  font-size: 2.5vh;
  color: #ffffff;
  text-transform: uppercase;
  background: #008080;
  border: solid #008080;
  border-width: 4px 0px;
  transition: all 0.4s ease 0s;
}

.actionBtnContainer {
  position: absolute;
  bottom: 5%;
  display: grid;
  width: 93%;
  grid-template-columns: repeat(8, 1fr);
  height: 4vh;
}

.applyLink {
  height:inherit;
  grid-column: 1 / 2;
}

.apply {
  &:hover {
    background: #78ec6d;
  }
}

.resetLink {
  height:inherit;
  grid-column: 8 / 8;
}

.reset {
  &:hover {
    background: #fc1f1f;
  }
}

.actionBtn {
  text-transform: uppercase;
  width: 100%;
  border: none;
  background: #ffffff;
  height: inherit;
  cursor: pointer;
  color: #000000;
  border-radius: 6px;
}

.hide-true {
  display: none;
}

.hide-false {
  display: block;
  position: absolute;
  background-color: #008080;
  height: 15vh;
  width: 150%;
  padding: 5%;
  top: 7vh;
  z-index: 1;
}

@media all and (min-height: 1000px) {
  .container {
    font-size: 25px;
  }
  .mainButton {
    font-size: 25px;
  }
  .actionBtnContainer {
    height: 40px;
  }
  .hide-false {
    top: 70px;
    height: 150px;
  }
}

@media all and (max-width: 800px) {
  .container {
    grid-row: 2;
    grid-column: 2 / 11;
  }
  .hide-false {
    width: 130%;
  }
}