.container {
	background-color: lightcoral;
}

.flex {
	display: flex;
}

.falsePosition {
	display: none;
}

.truePosition {
	position: absolute;
	background-color: teal;
	height: 400px;
	width: 36%;
}

.buttonContainer {
	position: relative;
	display: flex;
	height: 100%;
	justify-content: space-evenly;
}


.arrow {
	width: 0;
	height: 0;
	border: 0 solid transparent;
	cursor: pointer;
}

.arrow.left {
	border-top-width: 1vw;
	border-bottom-width: 1vw;
	border-right: 1vw solid rgb(248, 248, 248);
}
.arrow.left:hover {
	border-right: 1vw solid rgb(255, 0, 0);
}

.arrow.right {
	border-top-width: 1vw;
	border-bottom-width: 1vw;
	border-left: 1vw solid rgb(248, 248, 248);
}
.arrow.right:hover {
	border-left: 1vw solid rgb(255, 0, 0);
}
